<html lang="vi-VN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Thegioididong.com - Điện thoại, Laptop, Phụ kiện, Đồng hồ chính hãng</title>
    <meta name="keywords"
          content="Thế giới di động, Thegioididong, điện thoại di động, dtdd, smartphone, tablet, máy tính bảng, laptop, máy tính xách tay, phụ kiện, smartwatch, đồng hồ, tin công nghệ">
    <meta name="description"
          content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện, smartwatch, đồng hồ chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN">
    <meta property="og:title" content="Thegioididong.com - Điện thoại, Laptop, Phụ kiện, Đồng hồ chính hãng">
    <meta property="og:description"
          content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện, smartwatch, đồng hồ chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN">


    <meta content="INDEX,FOLLOW" name="robots">
    <meta name="viewport" content="width=device-width">
    <meta name="copyright" content="Công ty Cổ phần Thế Giới Di Động">
    <meta name="author" content="Công ty Cổ phần Thế Giới Di Động">
    <meta http-equiv="audience" content="General">
    <meta name="resource-type" content="Document">
    <meta name="distribution" content="Global">
    <meta name="revisit-after" content="1 days">
    <meta name="GENERATOR" content="Công ty Cổ phần Thế Giới Di Động">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/favicon_TGDD.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon_TGDD.ico" rel="apple-touch-icon">
    <link href="/favicon_TGDD.ico" rel="apple-touch-icon-precomposed">
    <meta property="og:site_name" content="Thegioididong.com">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta property="fb:pages" content="214993791879039">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>

<body>

    <div class="banner-media" style="background-color: rgb(255, 242, 0);">
        <div class="media-slider" data-size="1">
            <div class="item visible" data-background-color="#fff200" data-order="1">
                <a aria-label="slide" data-cate="0" data-place="1612" href="/flashsale"
                   onclick="jQuery.ajax({ url: 'https://www.thegioididong.com/bannertracking?bid=44896&amp;r='+ (new Date).getTime(), async: true, cache: false });">
                    <img src="~/Content/images/1200-44-1200x44-4.png" alt="An tâm ở nhà">
                </a>
            </div>
        </div>
        <style>
            .banner-media {
                background-color: #fff200;
            }
        </style>

    </div>

    <header class="header  " data-sub="0">
        <div class="header__top">
            <div>
                <a href="/" class="header__logo">
                    <i class="icon-logo"></i>
                </a>


                <div class="bordercol"></div>
                <a href="javascript:void(0)" class="header__address" onclick="OpenLocation()">
                    Xem giá, khuyến mãi tại
                    <span data-province="3" data-district="0" data-ward="0">Hồ Chí Minh</span>
                </a>

                <form action="/tim-kiem" onsubmit="return suggestSearch(event);" class="header__search">
                    <input id="skw" type="text" class="input-search" onkeyup="suggestSearch(event);"
                           placeholder="Bạn tìm gì..." name="key" autocomplete="off" maxlength="100">
                    <button type="submit">
                        <i class="icon-search"></i>
                    </button>
                    <div id="search-result" style="display: none;"></div>
                </form>
                <a href="@Url.Action("Index","Cart")" class="header__cart menu-info">
                    <i class="icon-cart"></i>
                    <span>Giỏ hàng</span>
                </a>
                <a href="/lich-su-mua-hang" class="header__history">Lịch sử đơn hàng</a>
                <div class="bordercol"></div>
                <div>
                    <ul>
                        @if (Session["idUser"] != null)
                        {
                            <li><a href="~/Admin/Product/Index">Trang quản trị</a></li>
                            <li><a href="~/Home/Logout" class="btn btn-warning">Đăng xuất</a></li>
                        }
                        else
                        {
                            <li><a href="~/Home/Register">Đăng kí</a></li>
                            <li><a href="~/Home/Login">Đăng nhập</a></li>
                        }
                    </ul>
                </div>
                <div class="bordercol"></div>
                <a style="padding: 0 !important;" href="javascript:void(0)" class="header__hot">
                </a>
                <div class="header__listtop">
                    <div class="bordercol"></div>
                    <div class="divitem">
                        <a href="/tin-tuc">24h<br>Công nghệ</a>
                    </div>
                    <div class="bordercol"></div>
                    <div class="divitem">
                        <a href="/hoi-dap">Hỏi Đáp</a>
                    </div>
                    <div class="bordercol"></div>
                    <div class="divitem">
                        <a href="/game-app">Game App</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__main">
            <div>
                <ul class="main-menu">
                    <li>
                        <a href="/dtdd">
                            <i class="icon-dienthoai"></i>
                            <span>Điện thoại</span>
                        </a>
                    </li>
                    <li>
                        <a href="/laptop">
                            <i class="icon-laptop"></i>
                            <span>Laptop</span>
                        </a>
                    </li>
                    <li>
                        <a href="/may-tinh-bang">
                            <i class="icon-tablet"></i>
                            <span>Tablet</span>
                        </a>
                    </li>
                    <li class="phukien">
                        <a href="/phu-kien">
                            <i class="icon-phukien"></i>
                            <span>Phụ kiện</span>
                        </a>
                        <div class="navmwg accessories">
                            <div class="PKDD">
                                <strong>Phụ kiện di động</strong>
                                <a href="/sac-dtdd">
                                    <h3>Pin sạc dự phòng</h3>
                                </a>
                                <a href="/sac-cap">
                                    <h3>Sạc, cáp</h3>
                                </a>
                                <a href="/mieng-dan-man-hinh">
                                    <h3>Miếng dán màn hình</h3>
                                </a>
                                <a href="/op-lung-flipcover">
                                    <h3>Ốp lưng điện thoại</h3>
                                </a>
                                <a href="/op-lung-may-tinh-bang">
                                    <h3>Ốp lưng máy tính bảng</h3>
                                </a>
                                <a href="/gay-tu-suong">
                                    <h3>Gậy tự sướng</h3>
                                </a>
                                <a href="/gia-do-dien-thoai">
                                    <h3>Giá đỡ laptop, điện thoại</h3>
                                </a>
                                <a href="/de-moc-dien-thoai">
                                    <h3>Đế, móc điện thoại</h3>
                                </a>
                                <a href="/tui-chong-nuoc">
                                    <h3>Túi chống nước</h3>
                                </a>
                                <a href="/tui-dung-airpods">
                                    <h3>Túi đựng Airpods</h3>
                                </a>
                                <a href="/phu-kien-thong-minh">
                                    <h3>Phụ kiện iPad</h3>
                                </a>
                                <br><br>
                            </div>
                            <div class="PKLT">
                                <strong>Phụ kiện Laptop</strong>
                                <a href="/chuot-may-tinh">
                                    <h3>Chuột máy tính</h3>
                                </a>
                                <a href="/ban-phim">
                                    <h3>Bàn phím</h3>
                                </a>
                                <a href="/tui-chong-soc">
                                    <h3>Balo, túi chống sốc</h3>
                                </a>
                                <a href="/phan-mem">
                                    <h3>Phần mềm</h3>
                                </a>
                            </div>
                            <div class="PKCH">
                                <strong>
                                    Thương hiệu hàng đầu
                                    <a href="/phu-kien/chinh-hang" class="">Xem tất cả</a>
                                </strong>
                                <a href="/phu-kien/apple">
                                    <h3>Apple</h3>
                                </a>
                                <a href="/phu-kien/samsung">
                                    <h3>Samsung</h3>
                                </a>
                                <a href="/phu-kien/sony">
                                    <h3>Sony</h3>
                                </a>
                                <a href="/phu-kien/anker">
                                    <h3>Anker</h3>
                                </a>
                            </div>
                            <div class="TBAT">
                                <strong>Thiết bị âm thanh</strong>
                                <a href="/tai-nghe">
                                    <h3>Tai nghe</h3>
                                </a>
                                <a href="/loa-laptop">
                                    <h3>Loa</h3>
                                </a>
                                <div class="TBLT">
                                    <strong>Thiết bị lưu trữ</strong>
                                    <a href="/the-nho-dien-thoai">
                                        <h3>Thẻ nhớ</h3>
                                    </a>
                                    <a href="/usb">
                                        <h3>USB</h3>
                                    </a>
                                    <a href="/o-cung-di-dong">
                                        <h3>Ổ cứng di động</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="PKK">
                                <strong>Phụ kiện khác</strong>
                                <a href="/thiet-bi-mang">
                                    <h3>Thiết bị mạng</h3>
                                </a>
                                <a href="/camera-giam-sat">
                                    <h3>Camera giám sát, hành trình</h3>
                                </a>
                                <a href="/phu-kien-oto">
                                    <h3>Phụ kiện ô tô</h3>
                                </a>
                                <a href="/may-tinh-cam-tay">
                                    <h3>Máy tính cầm tay</h3>
                                </a>
                                <a href="/thiet-bi-thong-minh">
                                    <h3>TV Box, Bút trình chiếu</h3>
                                </a>
                                <a href="/quat-mini">
                                    <h3>Quạt mini</h3>
                                </a>
                                <a href="/pin">
                                    <h3>Pin tiểu, pin điện thoại</h3>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/dong-ho-thong-minh">
                            <i class="icon-dhthongminh"></i>
                            <span>Đồng hồ thông minh</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dong-ho">
                            <i class="icon-dhthoitrang"></i>
                            <span>Đồng hồ thời trang</span>
                        </a>
                    </li>
                    <li class="pcmayin">
                        <a href="/pc-may-in">
                            <i class="icon-pcmayin"></i>
                            <span>PC, Máy in</span>
                        </a>
                        <div class="navmwg PC-mayin">
                            <a href="/may-in">
                                <h3>Máy in</h3>
                            </a>
                            <a href="/muc-in">
                                <h3>Mực in</h3>
                            </a>
                            <a href="/man-hinh-may-tinh">
                                <h3>Màn hình máy tính</h3>
                            </a>
                            <a href="/may-tinh-de-ban">
                                <h3>Máy tính để bàn</h3>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="/may-doi-tra">
                            <span>Máy cũ giá rẻ</span>
                        </a>
                    </li>
                    <li>
                        <a href="/sim-so-dep">
                            <span>Sim, Thẻ cào</span>
                            <span class="item__label">Giảm 5%</span>
                        </a>
                    </li>
                    <li>
                        <a href="/tien-ich">
                            <span>Trả góp, điện nước</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @RenderBody()



    <div class="preloader preall">
        <div class="loaderweb"></div>
    </div>
    <p id="gb-top-page" class="hide">↑</p>
    <form id="form-zone-bhx">

        <input name="AntiforgeryFieldname" type="hidden"
               value="CfDJ8Lig4BBG4B1Igtan2bf4p0thrJf6IUZtwsa4F_Xi-3OnOPEnT8uzz_AINmNaGbXSU5fPD6U8h0PE33lxlD_3IgJNkx9a_p6WI-se9zBAd3uMzoUSX4XTSTVuB8IUVHNNwOvAyc5SWefeGVAcIvjb6qM">
        <div>
            <input id="g-recaptcha-response_captcha_214039964" name="g-recaptcha-response" type="hidden">
            <style>
                .grecaptcha-badge {
                    display: none !important;
                }
            </style>
        </div>
    </form>
    <div id="dldingtext">Bạn vui lòng chờ trong giây lát...</div>
    <footer class="footer">
        <section class="clearfix footer__top">
            <div class="footer__col">
                <ul class="f-listmenu">
                    <li><a rel="nofollow" href="/lich-su-mua-hang">Lịch sử mua hàng</a></li>
                    <li><a rel="nofollow" href="/daily">Cộng tác bán hàng cùng TGDĐ</a></li>
                    <li><a rel="nofollow" href="/tra-gop">Tìm hiểu về mua trả góp</a></li>
                    <li><a rel="nofollow" href="/bao-hanh">Chính sách bảo hành</a></li>
                    <li><a href="javascript:void(0)" class="arrow showtaga">Xem thêm</a></li>
                    <li class="hidden">
                        <a rel="nofollow" href="/chinh-sach-bao-hanh-san-pham">Chính sách đổi trả</a>
                    </li>
                    <li class="hidden"><a rel="nofollow" href="/giao-hang">Giao hàng &amp; Thanh toán</a></li>
                    <li class="hidden"><a rel="nofollow" href="/huong-dan-mua-hang">Hướng dẫn mua online</a></li>
                    <li class="hidden"><a rel="nofollow" href="/b2b">Bán hàng doanh nghiệp</a></li>
                    <li class="hidden"><a rel="nofollow" href="/phieu-mua-hang">Phiếu mua hàng</a></li>
                    <li class="hidden">
                        <a rel="nofollow" href="http://hddt.thegioididong.com">In hóa đơn điện tử</a>
                    </li>
                    <li class="hidden"><a rel="nofollow" href="/tos">Quy chế hoạt động</a></li>
                    <li class="hidden"><a rel="nofollow" href="/noi-quy-cua-hang">Nội quy cửa hàng</a></li>
                    <li class="hidden"><a rel="nofollow" href="/chat-luong-phuc-vu">Chất lượng phục vụ</a></li>
                    <li class="hidden">
                        <a rel="nofollow"
                           href="/tin-tuc/can-trong-voi-nhung-sieu-thi-thegioididong-khong-chinh-chu--683321">
                            Cảnh báo
                            giả mạo
                        </a>
                    </li>
                    <li class="hidden">
                        <a rel="nofollow" href="/chinh-sach-khui-hop-apple">
                            Chính sách khui hộp sản phẩm
                            Apple
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="f-listmenu">
                    <li><a rel="nofollow" href="http://mwg.vn">Giới thiệu công ty (MWG.vn)</a></li>
                    <li><a rel="nofollow" href="http://vieclam.thegioididong.com">Tuyển dụng</a></li>
                    <li><a rel="nofollow" href="/lien-he">Gửi góp ý, khiếu nại</a></li>
                    <li><a rel="nofollow" href="/he-thong-sieu-thi-the-gioi-di-dong">Tìm siêu thị (2.259 shop)</a></li>
                    <li>
                        <a rel="nofollow" class="linkversion" href="http://www.thegioididong.com/?sclient=mobile">
                            Xem
                            bản mobile
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="f-listtel">
                    <p class="f-listtel__title">
                        <strong>Tổng đài hỗ trợ</strong> (Miễn phí gọi)
                    </p>
                    <p class="f-listtel__content">
                        <span>Gọi mua:</span> <a href="tel:18001060">1800.1060</a> (7:30 -
                        22:00)
                    </p>
                    <p class="f-listtel__content">
                        <span>Kỹ thuật:</span> <a href="tel:18001763">1800.1763</a> (7:30 -
                        22:00)
                    </p>
                    <p class="f-listtel__content">
                        <span>Khiếu nại:</span> <a href="tel:18001062">1800.1062</a> (8:00 -
                        21:30)
                    </p>
                    <p class="f-listtel__content">
                        <span>Bảo hành:</span> <a href="tel:18001064">1800.1064</a> (8:00 -
                        21:00)
                    </p>
                </div>
            </div>
            <div class="footer__col">
                <div class="f-social">
                    <a href="https://www.facebook.com/thegioididongcom" class="link-fb">
                        <i class="icon-facebook"></i>
                        3670.7k Fan
                    </a>
                    <a href="https://www.youtube.com/user/TGDDVideoReviews" class="link-ytb">
                        <i class="icon-youtube"></i>
                        806k Đăng ký
                    </a>
                </div>
                <div class="f-certify">
                    <a rel="nofollow" href="http://online.gov.vn/Home/WebDetails/20090" target="_blank">
                        <i class="icon-congthuong"></i>
                    </a>
                    <a rel="nofollow" href="/tos#giai-quyet-khieu-nai" target="_blank">
                        <i class="icon-khieunai"></i>
                    </a>
                    <a rel="nofollow" class="dmca-badge"
                       href="https://www.dmca.com/Protection/Status.aspx?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d&amp;refurl=https://www.thegioididong.com/"
                       target="_blank">
                        <i class="icon-protected"></i>
                    </a>
                </div>
                <div class="f-website">
                    <p class="f-website-title">Website cùng tập đoàn</p>
                    <a rel="nofollow" href="https://www.dienmayxanh.com/">
                        <i class="icon-dmx"></i>
                    </a>
                    <a rel="nofollow" href="https://www.bachhoaxanh.com/">
                        <i class="icon-bhx"></i>
                    </a>
                    <a rel="nofollow" href="https://www.maiamtgdd.vn/">
                        <i class="icon-maiam"></i>
                    </a>
                </div>
            </div>
        </section>
        <div class="copyright">
            <section>
                <p>
                    © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH &amp; ĐT TP.HCM cấp ngày
                    02/01/2007. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020.<br>
                    Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email:
                    cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. <a rel="nofollow"
                                                                                         href="/thoa-thuan-su-dung-trang-mxh">Xem chính sách sử dụng</a>
                </p>
            </section>
        </div>
    </footer>
</body>


</html>
<script>
    var isMobile = false;
    function LoadViewedHistory() { }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Scripts/js/homeTGDD.min.v202106210950.js"></script>